footer .footer__container {
  padding: 40px 40px 24px;
  margin: 0 auto;
  max-width: 1200px;
}

footer .footer__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}

footer .footer__container-top nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

@media (max-width: 999px) {
  footer .footer__container-top nav {
    gap: 40px;
  }
}

footer .footer__container-top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  text-align: left;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

footer .footer__container-top nav ul li a {
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.6;
}

footer .footer__container-top nav ul li a:hover {
  text-decoration: underline;
  color: black;
}

footer .footer__container-top .footer__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

@media (max-width: 999px) {
  footer .footer__container-top .footer__top-right {
    display: none;
  }
}

footer .footer__container-top .footer__top-right h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  margin: 0;
}

footer .footer__container-top .footer__top-right .icons__media {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 16px;
}

footer .footer__container-top .footer__top-right .message {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  max-width: 270px;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

footer .footer__container-top .footer__top-right .message img {
  padding: 6px;
}

footer .footer__container-top .footer__top-right .message p {
  margin: 0;
}

footer .footer__container-bottom {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

footer .footer__container-bottom-left {
  max-width: 550px;
}

footer .footer__container-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__container-bottom-right img {
  width: 32px;
  height: 32px;
}
