.main {
    background-color: #00b956;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 2fr 3fr 1fr;
        grid-template-columns: 1fr 4fr 0.5fr 3fr 0.8fr;
        @media (max-width: 999px) {
            grid-template-rows: 0.1fr 0.4fr 0.1fr 0.8fr 0.4fr;
            grid-template-columns: 0.3fr 3fr 0.5fr 2fr 0.3fr;
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 80%;
            gap: 32px;
        }
        &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            @media (max-width: 999px) {
                grid-row: 2 / 3;
                grid-column: 2 / 4;
            }
            h2 {
                font-weight: 700;
                font-size: 52px;
                line-height: 56px;
                letter-spacing: 0.5px;
                color: #ffffff;
                text-align: left;
                margin: 0;
            }
            p {
                font-size: 15px;
                line-height: 24px;
                color: #ffffff;
                margin: 0;
            }
        }
        &__gifts {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            @media (max-width: 999px) {
                display: none;
            }
        }
        &__one-gift {
            display: none;
            @media (max-width: 999px) {
                display: block;
                grid-row: 4 / 5;
                grid-column: 4 / 5;
                margin: auto;
            }
        }
        &__form {
            grid-row: 2 / 4;
            grid-column: 4;
            background-color: white;
            box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            text-align: left;
            align-items: flex-start;
            @media (max-width: 999px) {
                grid-row: 4 / 5;
                grid-column: 2 / 3;
            }
            &-field {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;
                input {
                    background: #ffffff;
                    border: 1px solid #d8d8d8;
                    padding: 12px 20px;
                }
            }
            &-label {
                font-weight: 500;
                font-size: 15px;
                line-height: 24px;
                display: flex;
                align-items: flex-end;
                color: #333333;
            }
            button {
                background: #731982;
                border-radius: 30px;
                padding: 18px 32px;
                font-weight: 500;
                font-size: 15px;
                line-height: 24px;
                text-align: center;
                color: #ffffff;
                border: none;
                cursor: pointer;
                transition: all 0.5s ease 0s;
            }
            button:hover {
                background-color: #4f125a;
            }
            p {
                font-size: 12px;
                line-height: 16px;
                color: #333333;
            }
        }
    }
}
