.megafon__header {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    z-index: 100;
    @media (max-width: 999px) {
        padding: 16px 40px;
    }
    @media (max-width: 767px) {
        padding: 16px;
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d8d8d8;
        padding: 6px;
        @media (max-width: 999px) {
            border-bottom: 0;
            padding: 0;
        }
        &-left {
            display: flex;
            align-items: center;

            .navbar-first {
                display: flex;
                justify-content: center;
                gap: 20px;
                list-style: none;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.3px;
                mix-blend-mode: normal;
                opacity: 0.6;
                a:hover {
                    color: #00b956;
                    padding-bottom: 20px;
                    border-bottom: 3px solid #00b956;
                }
                a {
                    text-decoration: none;
                    color: #333333;
                }
            }
            @media (max-width: 768px) {
                .navbar-first .toggle {
                    display: none;
                }
            }
            @media (max-width: 999px) {
                .navbar-first {
                    padding-inline-start: 0px;
                }
                .navbar-first .desktop {
                    display: none;
                }
                .active {
                    background-color: #00b956;
                    width: 100vw;
                    height: calc(100vh - 64px);
                    z-index: 10;
                    position: absolute;
                    top: 64px;
                    left: 0;
                    color: white;
                    transition: all 0.3s ease 0s;
                    .navbar-first {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 100vw;
                        height: calc(100vh - 64px);
                        z-index: 10;
                        opacity: 1;
                        li {
                            z-index: 20;
                            height: 10vh;
                            display: block;
                            color: white;
                            font-size: 40px;
                            .desktop {
                                z-index: 30;
                                display: block;
                                color: rgba($color: #ffffff, $alpha: 1);
                                text-decoration: underline;
                            }
                            @media (max-width: 400px) {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
            .toggle {
                display: none;
                position: relative;
                @media (max-width: 999px) {
                    display: block;
                }
            }
            .toggle::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                right: -20px;
                top: 8px;
                background: url("../../../icons/triangle.svg") center 0 no-repeat;
            }
        }
        &-right {
            @media (max-width: 999px) {
                display: none;
            }
            ul {
                display: flex;
                gap: 36px;
                list-style: none;
            }

            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.3px;
                color: #333333;
                mix-blend-mode: normal;
                opacity: 0.6;
                position: relative;
            }
            a:hover {
                color: black;
                font-weight: bold;
            }

            .toggle::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                right: -20px;
                top: 8px;
                background: url("../../../icons/triangle.svg") center 0 no-repeat;
            }
            .location::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                right: -20px;
                top: 5px;
                background: url("../../../icons/location.svg") center 0 no-repeat;
            }
        }
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4.5px;
        @media (max-width: 999px) {
            display: none;
        }
        &-left ul {
            display: flex;
            list-style: none;
            gap: 40px;
            padding-inline-start: 0;
            a {
                font-weight: 500;
                font-size: 15px;
                line-height: 24px;
                color: #333333;
                text-decoration: none;
                position: relative;
            }
            a:hover {
                border-bottom: 1px solid black;
            }
            .toggle::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                right: -20px;
                top: 8px;
                background: url("../../../icons/triangle.svg") center 0 no-repeat;
            }
        }
        &-right {
            display: flex;
            align-items: center;
            gap: 14px;
            hr {
                height: 56px;
                width: 1px;
                margin: 0;
                border: 0;
                background: #d8d8d8;
            }
            a {
                text-decoration: none;
            }
            .megafon__header-bottom-middle {
                height: 100%;
                width: 1px;
                background-color: #d8d8d8;
            }
            .cabinet {
                display: flex;
                gap: 10px;
                .toggle {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                    color: #333333;
                    position: relative;
                }
                .toggle:hover {
                    font-weight: bold;
                    border-bottom: 1px solid black;
                }
                .toggle::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    right: -20px;
                    top: 10px;
                    background: url("../../../icons/triangle.svg") center 0 no-repeat;
                }
            }
        }
    }
    &-mobile {
        display: none;
        @media (max-width: 999px) {
            display: flex;
            align-items: center;
            gap: 26px;

            .lk-and-navbar {
                display: flex;
                align-items: center;
                gap: 16px;
                a img {
                    margin-top: 5px;
                }
            }
        }
        @media (max-width: 340px) {
            & > img {
                display: none;
            }
        }
    }
}
