.megafon__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  /*padding: 20px 40px;
    @media (max-width: 1279px) {
        padding: 16px 24px;
    }
    @media (max-width: 767px) {
        padding: 16px;
    }*/
}

.megafon__header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

.megafon__header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.megafon__header-top-left .navbar-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.megafon__header-top-left .navbar-first a:hover {
  color: #00b956;
  padding-bottom: 20px;
  border-bottom: 3px solid #00b956;
}

.megafon__header-top-left .navbar-first a {
  text-decoration: none;
  color: #333333;
}

.megafon__header-top-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  list-style: none;
}

.megafon__header-top-right a {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.6;
  position: relative;
}

.megafon__header-top-right a:hover {
  color: black;
  font-weight: bold;
}

.megafon__header-top-right .toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 8px;
  background: url("../../icons/triangle.svg") center 0 no-repeat;
}

.megafon__header-top-right .location::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 5px;
  background: url("../../icons/location.svg") center 0 no-repeat;
}

.megafon__header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.megafon__header-bottom-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 40px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.megafon__header-bottom-left ul a {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
  position: relative;
}

.megafon__header-bottom-left ul a:hover {
  border-bottom: 1px solid black;
}

.megafon__header-bottom-left ul .toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 8px;
  background: url("../../icons/triangle.svg") center 0 no-repeat;
}

.megafon__header-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.megafon__header-bottom-right a {
  text-decoration: none;
}

.megafon__header-bottom-right .megafon__header-bottom-middle {
  height: 100%;
  width: 1px;
  background-color: #d8d8d8;
}

.megafon__header-bottom-right .cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.megafon__header-bottom-right .cabinet .toggle {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  position: relative;
}

.megafon__header-bottom-right .cabinet .toggle:hover {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.megafon__header-bottom-right .cabinet .toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 10px;
  background: url("../../icons/triangle.svg") center 0 no-repeat;
}
